version: '3.4'

services:
  sourcingdb:
    container_name: sourcingdb
    restart: always
    volumes:
        - ${WEBAPP_STORAGE_HOME}/site:/data/db
    ports:
        - "27017:27017"

  rabbitmq:
    container_name: rabbitmq
    restart: always
    ports:
        - "5672:5672"
        - "15672:15672"

  sourcingsqldb:
    container_name: sourcingsqldb
    ports:
        - "1433:1433" 
    environment:
      SA_PASSWORD: "SqlDb123456?"
      ACCEPT_EULA: "Y"

  onlineauctionapp.productapi:
    container_name: onlineauctionappproductapi
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ProductDatabase:ConnectionStrings=mongodb://sourcingdb:27017"
    depends_on:
      - sourcingdb
    ports:
      - "8000:80"
    volumes:
      - ${HOME}/ASP.NET/Https:/root/.aspnet/https:ro
      - ${HOME}/.microsoft/usersecrets/:/root/.microsoft/usersecrets

  onlineauctionapp.auctionapi:
    container_name: onlineauctionappauctionapi
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "SourcingDatabaseSetting:ConnectionStrings=mongodb://sourcingdb:27017"
      - "EventBus:HostName=rabbitmq"
    depends_on:
      - sourcingdb
      - rabbitmq
    ports:
      - "8001:80"
    volumes:
      - ${HOME}/ASP.NET/Https:/root/.aspnet/https:ro
      - ${HOME}/.microsoft/usersecrets/:/root/.microsoft/usersecrets

