version: '3.4'

services:
  sourcingdb:
    container_name: sourcingdb
    restart: always
    volumes:
        - ${WEBAPP_STORAGE_HOME}/site:/data/db
    ports:
        - "27017:27017"

  onlineauctionapp.productapi:
    container_name: onlineauctionappproductapi
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ProductDatabase:ConnectionStrings=mongodb://sourcingdb:27017"
    depends_on:
      - sourcingdb
    ports:
      - "8000:80"
    volumes:
      - ${HOME}/ASP.NET/Https:/root/.aspnet/https:ro
      - ${HOME}/.microsoft/usersecrets/:/root/.microsoft/usersecrets

  onlineauctionapp.auctionapi:
    container_name: onlineauctionappauctionapi
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "SourcingDatabaseSetting:ConnectionStrings=mongodb://sourcingdb:27017"
    depends_on:
      - sourcingdb
    ports:
      - "8001:80"
    volumes:
      - ${HOME}/ASP.NET/Https:/root/.aspnet/https:ro
      - ${HOME}/.microsoft/usersecrets/:/root/.microsoft/usersecrets

